.white {
  color: white;
}
:root {
  --toastify-color-progress-light: #d6315d !important;
}
.flash {
  color: #d6315d;
  font-size: 23px;
}

.flash:hover {
  cursor: pointer;
}
.small {
  font-size: 10px;
}

.large {
  font-size: 4em;
}

.grey {
  color: rgb(103, 103, 103);
}
.fx {
  font-size: 20px;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(240, 23%, 16%);
  }
  100% {
    background-color: hsl(240, 24%, 20%);
  }
}

.app-notification {
  background-color: #f8f8f8 !important;
  color: #eb3d77 !important;
}

.Toastify__close-button {
  color: #eb3d77 !important;
}

.countdown {
  color: #eb3d77 !important;
  font-family: 'Roboto Mono';
  font-size: 5em;
  text-align: center;
}
